# Dependencias
node_modules

# Build
dist

# Variables de entorno
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Prisma
prisma/migrations/dev.db
prisma/*.db